body{ /*função para colocar um plano de fundo*/
    background-image: url('spectrum-gradient.svg'); /*link do background*/
    background-repeat: no-repeat; /*sem repetição da imagem*/
    background-size:cover; /*preencher toda a pagina*/
}

ul{
    list-style: none; /*para tirar os pontos de lista do lado da imagem*/
    justify-content: center;
    height: auto;
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

#Titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 2rem;
}

.nome {
    margin: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color:white;
    text-align: center;
    letter-spacing: 2px;
}
.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.img-programadora{
    top:50%;
    transform: translateY(20%);
}

.titulo-criador{
    align-items: right;
    color: white;
    font-size: 2rem;
    font-family:Georgia,'Times New Roman', Times, serif;
}
.texto-criador{
    color: white;
    font-size: 1rem;
    align-items: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#Idade {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    direction:ltr;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: center;
}

.MostraIdade{
    background-color: white;
    width: 15rem;
    height: 2rem;
    margin: 7px;
    font-size: 20px;
    color:grey;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px;  
}

.input1{
    width: 15rem;
    height: 2rem;
    margin: 7px;
    font-size: 20px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

.input2{
    width: 15rem;
    height: 2rem;
    margin: 7px;
    font-size: 20px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

.btn{
    width: 8rem;
    height: 2rem;
    margin: 7px;
    font-size: 20px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    color: grey;
}